.handOptions__outerContainer {
	width: 100%;
	/* height: 20%; */
	height: 140px;
	margin: 0 auto;
	padding: 4px;
	display: flex;
	flex: 1;
	background-color: white;
}
.handOptions__innerContainer {
	width: 60%;
	/* height: 20%; */
	height: 90%;
	margin: 10px auto;
	padding: 4px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	background: white;
	
	border-radius: 5px;
	border-style: double;
	
}

.handOptions__innerContainer.blue{
	background-color: rgba(2,0,36,0.927608543417367);
	border-color: rgba(255,0,5,0.8239670868347339);
}
.handOptions__innerContainer.red{
	background-color: rgba(255,0,5,0.8239670868347339);
	border-color: rgba(2,0,36,0.927608543417367);
}


.Hand {
	width: 230px;
	height: 230px;
	border: 2px solid mediumseagreen;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	background-color: white;
}
.player1 > .Hand:hover {
	transform: scale(1.1);
	border-color: yellow;
}
.Hand > img {
	height: 100%;
	border-radius: 50%;
	justify-content: center;
	margin: 0px auto;
	object-fit: contain;
	max-width: 100px;
}
.player1 > .active {
	transform: scale(1.2);
	border-color: red;
}

.signNotClickable {
	pointer-events: none;
}

@media (max-width: 950px) {
	.HandOptions {
		width: 90%;
	}
	.Hand {
		width: 100px;
		height: 100px;
	}
}
