.HandOptions {
	width: 100%;
	/* height: 20%; */
	margin: 10px auto;
	padding: 4px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
.Hand {
	width: 120px;
	height: 120px;
	border: 2px solid mediumseagreen;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	flex-direction: row;
}
.player1 > .Hand:hover {
	transform: scale(1.2);
}
.Hand > img {
	height: 100%;
	border-radius: 50%;
	justify-content: center;
	margin: 0px auto;
	object-fit: cover;
}
.player1 > .active {
	transform: scale(1.2);
	border-color: red;
}
@media (max-width: 950px) {
	.HandOptions {
		width: 100%;
	}
	.Hand {
		width: 100px;
		height: 100px;
	}
}
