.roomContainer {
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	overflow: hidden;
}
.main {
	position: relative;
	height: 100vh;
}
.sidebar-container {
	flex: 0.2;
}

/* .sidebar-info-container {
	flex: 0.15;
	background-color: seagreen;
} */

.room-board {
	flex: 0.8;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.enter-room {
	display: flex;
	justify-content: center;
	align-items: center;
}

.room-btn {
	display: none;
	width: 100%;
	height: 30px;
	font-size: 20px;
	font-weight: bold;
	align-items: center;
	justify-content: center;
	position: absolute;

	z-index: 10;
	background-color: springgreen;
	color: seagreen;
	border: 2px solid seagreen;
	border-radius: 5px;
}
@media (max-width: 1000px) {
	.sidebar-container {
		flex: 0;
		display: none;
	}
	.sidebar-open {
		flex: 0.2;
		z-index: 30;
		display: flex;
		position: absolute;
		left: 0;
		background-color: white;
	}
	/* .sidebar-info-container {
		flex: 0;
		display: none;
	} */
	.room-board {
		flex: 1;
	}
	.room-btn {
		display: flex;
	}
}
