.roomContainer {
	position: relative;
	width: 100%;
}
.cTimer {
	color: red;
	font-size: xx-large;
	font-weight: bolder;
	z-index: 100;
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}
.home-btn {
	width: 60px;
	height: 30px;
	font-size: 20px;
	font-weight: bold;
	position: absolute;

	z-index: 10;
	background-color: springgreen;
	color: seagreen;
	border: 2px solid seagreen;
	border-radius: 5px;
}
