.gameContainer {
	height: 300px;
	/* background-color: mediumspringgreen; */
	background: rgb(2,0,36);
background: linear-gradient(20deg, rgba(2,0,36,0.927608543417367) 50%, rgba(255,0,5,0.8239670868347339) 50%);
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	flex: 1;
	border: 5px solid gold;
}
.column {
	flex: 0.3;
}
.userTitle {
	background-color: transparent;
	color: white;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	width: 300px;
	height: 30px;
	padding: 10px;
	margin: 4px;
	font-size: 25px;
}
.myName {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(255,0,5,0.8239670868347339);
	margin: 0 0 10px 10px;
}
.opName {
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgba(4, 0, 75, 0.928);
	margin: 10px 10px 0 0;
}
.timer {
	color: red;
}

.column.scoreBoard {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.vS {
	margin: 15% 0 0 0;
	font-size: 10vh;
	color: white;
}

.scoreBoard-comp {
	color: white;
}

.score {
	width: 50%;
}
/* .positions {
	height: 100%;
	width: 20%;
	margin: 0 auto;
	background-color: blue;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.position {
	width: 120px;
	height: 120px;
	background-color: yellow;
} */
