.Hand {
	width: 230px;
	height: 230px;
	border: 2px solid #ff2d31;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	flex-direction: row;
}

img {
	background-color: transparent;
}

.Hand.blue:hover {
	transform: scale(1.1);
	background-color: #ff2d31;
}
.Hand.red:hover {
	transform: scale(1.1);
	background-color: #141334;
}
.Hand > img {
	height: 100%;
	border-radius: 50%;
	justify-content: center;
	margin: 0px auto;
	object-fit: contain;
	max-width: 100px;
}
.player1 > .active {
	transform: scale(1.2);
	border-color: red;
}

.signNotClickable {
	pointer-events: none;
}

@media (max-width: 950px) {
	.HandOptions {
		width: 90%;
	}
	.Hand {
		width: 100px;
		height: 100px;
	}
}
